@using Microsoft.AspNet.Identity
@model string
@{
    ViewBag.Title = "RegisterSucceded";
}
<style>
    * {
        text-align: center;
    }
</style>
<h2>@Model, your registartion succeded!</h2>
<div>
    @Html.ActionLink("Go home","Index","Home");
</div>

