@{
    ViewBag.Title = "Home Page";
}
<h1>Today`s news</h1>
<div class="row">
    <div class="column" style="background-color:lightblue;">
        <div><h2 class="article">Tickets jump in prices up to 120%</h2></div>
        <p class="news">
            Services for the sale of air tickets reported a jump in prices up to 120%
            Tickets from Moscow have risen the most. Thus, the cost of a flight to Naberezhnye Chelny increased by 121%, to Tomsk - by 91%,
            and in Nizhnekamsk - by 88%.
            The Ministry of Transport said that they are not familiar with the method of price formation by aggregators
            Read more on :
            <a href="https://www.rbc.ru/society/02/04/2021/6066766c9a79472a86e12560">RBC</a>
        </p>
    </div>
    <div class="column" style="background-color:lightblue;">
        <div><h2 class="article">Today`s news</h2></div>
        <p class="news">
            Services for the sale of air tickets reported a jump in prices up to 120%
            Tickets from Moscow have risen the most. Thus, the cost of a flight to Naberezhnye Chelny increased by 121%, to Tomsk - by 91%,
            and in Nizhnekamsk - by 88%.
            The Ministry of Transport said that they are not familiar with the method of price formation by aggregators
            Read more on :
            <a href="https://www.rbc.ru/society/02/04/2021/6066766c9a79472a86e12560">RBC</a>
        </p>
    </div>
    <div class="column" style="background-color:lightblue;">
        <div><h2 class="article">Today`s news</h2></div>
        <p class="news">
            Services for the sale of air tickets reported a jump in prices up to 120%
            Tickets from Moscow have risen the most. Thus, the cost of a flight to Naberezhnye Chelny increased by 121%, to Tomsk - by 91%,
            and in Nizhnekamsk - by 88%.
            The Ministry of Transport said that they are not familiar with the method of price formation by aggregators
            Read more on :
            <a href="https://www.rbc.ru/society/02/04/2021/6066766c9a79472a86e12560">RBC</a>
        </p>
    </div>
</div>