@model System.Collections.Generic.IEnumerable<Airline.BLL.DTOs.InfoDTO>
@{
    ViewBag.Title = "Home Page";
}

<style>
    h1.targeth {
        text-align: center;
        font-size:30px;
    }
</style>
<h1 class="targeth">Welcome to my app!</h1>
